@{
    Layout = null;
    const string appName = "Template";
    var title = ViewData["Title"];
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(title == null ? appName : $"{title} - {appName}") </title>
</head>
<body>
<div>
    @RenderBody()
</div>
@RenderSection("scripts", required: false)
</body>
</html>