@page
@model LoginModel



@if (Model.AllowLocal)
{
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <fieldset>
            <div class="field">
                <label class="label" asp-for="InputModel.Username"></label>
                <div class="control">
                    <input class="input" placeholder="Username" asp-for="InputModel.Username" autofocus>
                </div>
            </div>
            <div>
                <label class="label" asp-for="InputModel.Password"></label>
                <div class="control">
                    <input class="input" type="password" placeholder="Password" asp-for="InputModel.Password" autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label class="label">Remember My Login?</label>
                <div class="control">
                    <input class="checkbox" type="checkbox" asp-for="InputModel.RememberMe">
                </div>
            </div>
            <div>
                <p>The default users are alice/bob, password: Pass123$</p>
            </div>
            <div class="control">
                <button class="button is-link" type="submit" name="button" value="login">Login</button>
                <button class="button is-text" type="submit" name="button" value="cancel">Cancel</button>
            </div>
        </fieldset>
    </form>
}



@if (Model.ExternalProviders.Any())
{
    foreach (var provider in Model.ExternalProviders)
    {
        <ul>
            <li>
                <a class="button"
                   asp-controller="External"
                   asp-action="Challenge"
                   asp-route-provider="@provider.Name"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        </ul>
    }
}