@page
@model LogoutModel

<div class="logout-page">
    <p>Would you like to logout </p>
    <form method="post" asp-route-logoutId="@Model.LogoutId">
        <button class="button is-danger" type="submit">Yes</button>
    </form>
</div>