@page "{logoutId?}"
@model LogoutModel

<div class="logout-page">
    <p>Would you like to logout </p>
    <form method="post">
        <input type="hidden" asp-for="LogoutId"/>
        <button type="submit">Yes</button>
    </form>
</div>